name: Build Resourcepack

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Zip resourcepack
        run: |
          cd resourcepack
          zip -r ../resourcepack.zip .
          cd ..

      - name: Generate SHA1 checksum
        run: |
          sha1sum resourcepack.zip | awk '{ print $1 }' > sha1.txt
          echo "SHA1=$(cat sha1.txt)" >> $GITHUB_ENV

      - name: Prepare GitHub Pages artifact
        run: |
          mkdir build
          mv resourcepack.zip build/
          mv sha1.txt build/
          echo "{ \"url\": \"https://$(echo ${{ github.repository_owner }}).github.io/$(basename ${{ github.repository }})/resourcepack.zip\", \"sha1\": \"${SHA1}\" }" > build/latest.json

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v2
        with:
          path: build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
